# Lesson 1
## Data Wrangling

In [71]:
# set up environment
import numpy as np
import pandas as pd

Your task is as follows:
- read the provided Excel file
- find and return the min, max and average values for the COAST region
- find and return the time value for the min and max entries
- the time values should be returned as Python tuples

Please see the test function for the expected return format

In [14]:
# read data from local file system
data = pd.read_excel("2013_ERCOT_Hourly_Load_Data.xls")
data.head()

,Hour_End,COAST,EAST,FAR_WEST,NORTH,NORTH_C,SOUTHERN,SOUTH_C,WEST,ERCOT
0,2013-01-01 01:00:00,7606.263544,1073.892438,1411.750567,784.978166,10369.094390,2206.675077,4368.490945,882.931901,28704.077028
1,2013-01-01 02:00:00,7388.082714,1035.021938,1403.472287,776.307387,10152.358518,2159.733208,4233.587967,872.404750,28020.968769
2,2013-01-01 03:00:00,7178.867878,1036.088697,1395.053150,768.125748,9988.051418,2065.114706,4082.862860,868.853938,27383.018395
3,2013-01-01 04:00:00,7038.822581,1032.648841,1395.508820,770.937969,9946.658655,1990.903699,4010.489608,865.701201,27051.671374
4,2013-01-01 05:00:00,6990.857940,1042.823044,1401.216842,779.089313,10096.664190,1954.807585,4038.655997,879.924249,27184.039160

In [5]:
data.dtypes

Hour_End    datetime64[ns]
COAST              float64
EAST               float64
FAR_WEST           float64
NORTH              float64
NORTH_C            float64
SOUTHERN           float64
SOUTH_C            float64
WEST               float64
ERCOT              float64
dtype: object

In [8]:
data["COAST"].describe()

count     7295.000000
mean     10976.933461
std       2641.539915
min       6602.113899
25%       9125.688014
50%      10265.538541
75%      12586.700769
max      18779.025510
Name: COAST, dtype: float64

In [61]:
print(data["COAST"].max(), data["COAST"].min(), np.mean(data["COAST"]))

18779.02551 6602.113899 10976.933460679751

In [34]:
coast_max = data[["Hour_End", "COAST"]].ix[data["COAST"] == np.max(data["COAST"])]
coast_max

                Hour_End        COAST
5391 2013-08-13 17:00:00  18779.02551

In [45]:
coast_min = data[["Hour_End", "COAST"]].ix[data["COAST"] == np.min(data["COAST"])]
coast_min

               Hour_End        COAST
795 2013-02-03 04:00:00  6602.113899

In [46]:
coast_max.values

array([[Timestamp('2013-08-13 17:00:00'), 18779.025510000003]], dtype=object)

In [47]:
coast_min.values

array([[Timestamp('2013-02-03 04:00:00'), 6602.113898999982]], dtype=object)

In [75]:
# To experiment with this code freely you will have to run this code locally.
# Take a look at the main() function for an example of how to use the code.
# We have provided example json output in the other code editor tabs for you to
# look at, but you will not be able to run any queries through our UI.
import json
import requests


BASE_URL = "http://musicbrainz.org/ws/2/"
ARTIST_URL = BASE_URL + "artist/"

# query parameters are given to the requests.get function as a dictionary; this
# variable contains some starter parameters.
query_type = {  "simple": {},
                "atr": {"inc": "aliases+tags+ratings"},
                "aliases": {"inc": "aliases"},
                "releases": {"inc": "releases"}}


def query_site(url, params, uid="", fmt="json"):
    # This is the main function for making queries to the musicbrainz API.
    # A json document should be returned by the query.
    params["fmt"] = fmt
    r = requests.get(url + uid, params=params)
    print("requesting", r.url)

    if r.status_code == requests.codes.ok:
        return r.json()
    else:
        r.raise_for_status()


def query_by_name(url, params, name):
    # This adds an artist name to the query parameters before making
    # an API call to the function above.
    params["query"] = "artist:" + name
    return query_site(url, params)


def pretty_print(data, indent=4):
    # After we get our output, we can format it to be more readable
    # by using this function.
    if type(data) == dict:
        print(json.dumps(data, indent=indent, sort_keys=True))
    else:
        print(data)


def get_info(band):
    '''
    Modify the function calls and indexing below to answer the questions on
    the next quiz. HINT: Note how the output we get from the site is a
    multi-level JSON document, so try making print statements to step through
    the structure one level at a time or copy the output to a separate output
    file.
    '''
    results = query_by_name(ARTIST_URL, query_type["simple"], band)
    pretty_print(results)

    artist_id = results["artists"][1]["id"]
    print("\nARTIST:")
    pretty_print(results["artists"][1])

    artist_data = query_site(ARTIST_URL, query_type["releases"], artist_id)
    releases = artist_data["releases"]
    print("\nONE RELEASE:")
    pretty_print(releases[0], indent=2)
    release_titles = [r["title"] for r in releases]

    print("\nALL TITLES:")
    for t in release_titles:
        print(t)

In [82]:
get_info("Queen")

requesting http://musicbrainz.org/ws/2/artist/?query=artist%3AQueen&fmt=json
{
    "artists": [
        {
            "aliases": [
                {
                    "begin-date": "2011",
                    "end-date": null,
                    "locale": null,
                    "name": "Queen + Adam Lambert",
                    "primary": null,
                    "sort-name": "Queen + Adam Lambert",
                    "type": null
                }
            ],
            "area": {
                "id": "8a754a16-0027-3a29-b6d7-2b40ea0481ed",
                "name": "United Kingdom",
                "sort-name": "United Kingdom"
            },
            "begin-area": {
                "id": "f03d09b3-39dc-4083-afd6-159e3f0d462f",
                "name": "London",
                "sort-name": "London"
            },
            "country": "GB",
            "disambiguation": "UK rock group",
            "id": "0383dadf-2a4e-4d10-a46a-e9e041da8eb3",
            "life-span": {
                "begin": "1970-06-27",
                "ended": null
            },
            "name": "Queen",
            "score": "100",
            "sort-name": "Queen",
            "tags": [
                {
                    "count": 3,
                    "name": "hard rock"
                },
                {
                    "count": -2,
                    "name": "80s"
                },
                {
                    "count": -2,
                    "name": "70s"
                },
                {
                    "count": 3,
                    "name": "british"
                },
                {
                    "count": 0,
                    "name": "english"
                },
                {
                    "count": 0,
                    "name": "uk"
                },
                {
                    "count": 0,
                    "name": "britannique"
                },
                {
                    "count": -1,
                    "name": "classic pop and rock"
                },
                {
                    "count": -1,
                    "name": "queen"
                },
                {
                    "count": 0,
                    "name": "united kingdom"
                },
                {
                    "count": 0,
                    "name": "kind of magic"
                },
                {
                    "count": -1,
                    "name": "platinum"
                },
                {
                    "count": 8,
                    "name": "rock"
                },
                {
                    "count": 0,
                    "name": "langham 1 studio bbc"
                },
                {
                    "count": 0,
                    "name": "band"
                },
                {
                    "count": 1,
                    "name": "pop rock"
                },
                {
                    "count": 1,
                    "name": "glam rock"
                },
                {
                    "count": 2,
                    "name": "art rock"
                },
                {
                    "count": 0,
                    "name": "disco"
                },
                {
                    "count": -2,
                    "name": "90s"
                },
                {
                    "count": 0,
                    "name": "70's"
                },
                {
                    "count": 0,
                    "name": "80's"
                },
                {
                    "count": -1,
                    "name": "90's"
                },
                {
                    "count": -1,
                    "name": "pop-rock"
                },
                {
                    "count": -1,
                    "name": "pop/rock"
                },
                {
                    "count": -1,
                    "name": "queen family"
                },
                {
                    "count": 0,
                    "name": "progressive rock"
                }
            ],
            "type": "Group"
        },
        {
            "aliases": [
                {
                    "begin-date": null,
                    "end-date": null,
                    "locale": null,
                    "name": "Queen",
                    "primary": null,
                    "sort-name": "Queen",
                    "type": null
                }
            ],
            "area": {
                "id": "2db42837-c832-3c27-b4a3-08198f75693c",
                "name": "Japan",
                "sort-name": "Japan"
            },
            "country": "JP",
            "disambiguation": "character, voiced by \u677f\u91ce\u53cb\u7f8e / Itano Tomomi",
            "gender": "female",
            "id": "420ca290-76c5-41af-999e-564d7c71f1a7",
            "life-span": {
                "ended": null
            },
            "name": "Queen",
            "score": "100",
            "sort-name": "Queen",
            "tags": [
                {
                    "count": 1,
                    "name": "related-akb48"
                },
                {
                    "count": 1,
                    "name": "kamen rider w"
                }
            ],
            "type": "Character"
        },
        {
            "disambiguation": "US rapper",
            "id": "5eecaf18-02ec-47af-a4f2-7831db373419",
            "life-span": {
                "ended": null
            },
            "name": "Queen",
            "score": "100",
            "sort-name": "Queen"
        },
        {
            "area": {
                "id": "489ce91b-6658-3307-9877-795b68554c98",
                "name": "United States",
                "sort-name": "United States"
            },
            "country": "US",
            "gender": "female",
            "id": "b50415aa-637c-4631-b074-7debcdb36da9",
            "life-span": {
                "begin": "1929-01-15",
                "ended": null
            },
            "name": "Queen Ida",
            "score": "62",
            "sort-name": "Queen Ida",
            "type": "Person"
        },
        {
            "area": {
                "id": "8a754a16-0027-3a29-b6d7-2b40ea0481ed",
                "name": "United Kingdom",
                "sort-name": "United Kingdom"
            },
            "country": "GB",
            "id": "c7d8e75d-ce47-473e-a434-e46b316e4e2f",
            "life-span": {
                "begin": "1992",
                "end": "1995",
                "ended": true
            },
            "name": "Bandit Queen",
            "score": "62",
            "sort-name": "Bandit Queen",
            "type": "Group"
        },
        {
            "aliases": [
                {
                    "begin-date": null,
                    "end-date": null,
                    "locale": null,
                    "name": "Dana Owens",
                    "primary": null,
                    "sort-name": "Dana Owens",
                    "type": null
                },
                {
                    "begin-date": null,
                    "end-date": null,
                    "locale": null,
                    "name": "Queen Latifa",
                    "primary": null,
                    "sort-name": "Queen Latifa",
                    "type": null
                }
            ],
            "area": {
                "id": "5a2f83bb-e033-4d4b-9fea-9ca6f27cf751",
                "name": "Colts Neck Township",
                "sort-name": "Colts Neck Township"
            },
            "begin-area": {
                "id": "85c7cd5f-6fe2-4195-a44d-69fa390bd6ec",
                "name": "Newark",
                "sort-name": "Newark"
            },
            "gender": "female",
            "id": "7a305f29-539a-456e-93b7-61b0e2ba3ef2",
            "life-span": {
                "begin": "1970-03-18",
                "ended": null
            },
            "name": "Queen Latifah",
            "score": "62",
            "sort-name": "Queen Latifah",
            "tags": [
                {
                    "count": 1,
                    "name": "hip hop"
                }
            ],
            "type": "Person"
        },
        {
            "id": "b9de990e-2ece-42dd-827c-30c4ca4a99a4",
            "life-span": {
                "ended": null
            },
            "name": "Queen V",
            "score": "62",
            "sort-name": "Queen V"
        },
        {
            "aliases": [
                {
                    "begin-date": null,
                    "end-date": null,
                    "locale": null,
                    "name": "Queen Elisabeth",
                    "primary": null,
                    "sort-name": "Queen Elisabeth",
                    "type": null
                }
            ],
            "area": {
                "id": "8a754a16-0027-3a29-b6d7-2b40ea0481ed",
                "name": "United Kingdom",
                "sort-name": "United Kingdom"
            },
            "country": "GB",
            "disambiguation": "British band with Julian Cope",
            "id": "1e067199-f4cd-477b-9a87-7170e7ed4cf7",
            "life-span": {
                "ended": null
            },
            "name": "Queen Elizabeth",
            "score": "62",
            "sort-name": "Queen Elizabeth",
            "type": "Group"
        },
        {
            "aliases": [
                {
                    "begin-date": null,
                    "end-date": null,
                    "locale": null,
                    "name": "Acic Queen",
                    "primary": null,
                    "sort-name": "Acic Queen",
                    "type": null
                }
            ],
            "id": "8a03436b-2120-4d04-9f3b-9e18753ba8b7",
            "life-span": {
                "ended": null
            },
            "name": "Acid Queen",
            "score": "62",
            "sort-name": "Acid Queen",
            "type": "Group"
        },
        {
            "gender": "female",
            "id": "c6303af1-d66e-4e8a-930e-fe1d6ea5b781",
            "life-span": {
                "ended": null
            },
            "name": "Queen Majeeda",
            "score": "62",
            "sort-name": "Queen Majeeda",
            "type": "Person"
        },
        {
            "id": "8d25fda6-e74e-45ac-9695-7e3e6a7d0fac",
            "life-span": {
                "ended": null
            },
            "name": "B.B. Queen",
            "score": "62",
            "sort-name": "B.B. Queen"
        },
        {
            "area": {
                "id": "08310658-51eb-3801-80de-5a0739207115",
                "name": "France",
                "sort-name": "France"
            },
            "country": "FR",
            "id": "ea57c459-a6dd-40ea-b489-03b7a912be13",
            "life-span": {
                "ended": null
            },
            "name": "Sister Queen",
            "score": "62",
            "sort-name": "Sister Queen",
            "type": "Group"
        },
        {
            "area": {
                "id": "08310658-51eb-3801-80de-5a0739207115",
                "name": "France",
                "sort-name": "France"
            },
            "country": "FR",
            "id": "ee2d368e-3580-46d3-9de7-84110254b6c0",
            "life-span": {
                "begin": "1977",
                "ended": null
            },
            "name": "Queen Samantha",
            "score": "62",
            "sort-name": "Queen Samantha",
            "type": "Group"
        },
        {
            "id": "eceb4f3d-95d9-4566-9fe2-a307fbcc3a4b",
            "life-span": {
                "ended": null
            },
            "name": "Black Queen",
            "score": "62",
            "sort-name": "Black Queen"
        },
        {
            "area": {
                "id": "85752fda-13c4-31a3-bee5-0e5cb1f51dad",
                "name": "Germany",
                "sort-name": "Germany"
            },
            "country": "DE",
            "disambiguation": "German duo Ina M\u00fcller & Edda Schnittgard",
            "id": "fd31549e-6a5f-4ff8-94fa-5a68638952fc",
            "life-span": {
                "begin": "1994",
                "end": "2005",
                "ended": true
            },
            "name": "Queen Bee",
            "score": "62",
            "sort-name": "Queen Bee",
            "type": "Group"
        },
        {
            "area": {
                "id": "3906cf32-00a7-32df-93cc-4710c5f5a542",
                "name": "Puerto Rico",
                "sort-name": "Puerto Rico"
            },
            "country": "PR",
            "gender": "female",
            "id": "ff06ecc0-72a5-4a81-a253-d840d9aefb32",
            "life-span": {
                "ended": null
            },
            "name": "Ivy Queen",
            "score": "62",
            "sort-name": "Ivy Queen",
            "tags": [
                {
                    "count": 1,
                    "name": "reggaet\u00f3n"
                }
            ],
            "type": "Person"
        },
        {
            "area": {
                "id": "489ce91b-6658-3307-9877-795b68554c98",
                "name": "United States",
                "sort-name": "United States"
            },
            "begin-area": {
                "id": "a71b0d32-7752-49e9-8594-2247ad6ac12c",
                "name": "Brooklyn",
                "sort-name": "Brooklyn"
            },
            "country": "US",
            "gender": "female",
            "id": "e6476e4f-ad4c-4e29-bd20-0cd622ffe441",
            "life-span": {
                "begin": "1973",
                "ended": null
            },
            "name": "Queen Pen",
            "score": "62",
            "sort-name": "Pen, Queen",
            "type": "Person"
        },
        {
            "id": "fbd2bc49-d2dd-410d-a870-950e56f02d5b",
            "life-span": {
                "ended": null
            },
            "name": "Filter Queen",
            "score": "62",
            "sort-name": "Filter Queen"
        },
        {
            "area": {
                "id": "8a754a16-0027-3a29-b6d7-2b40ea0481ed",
                "name": "United Kingdom",
                "sort-name": "United Kingdom"
            },
            "country": "GB",
            "gender": "female",
            "id": "9a86679d-7661-4633-b1b0-76a69922458c",
            "life-span": {
                "ended": null
            },
            "name": "Monica Queen",
            "score": "62",
            "sort-name": "Queen, Monica",
            "tags": [
                {
                    "count": 1,
                    "name": "country"
                }
            ],
            "type": "Person"
        },
        {
            "id": "f45984aa-f1ca-41d8-898a-af07340ae244",
            "life-span": {
                "ended": null
            },
            "name": "Pearly Queen",
            "score": "62",
            "sort-name": "Pearly Queen",
            "tags": [
                {
                    "count": 1,
                    "name": "funk"
                },
                {
                    "count": 1,
                    "name": "rhythm and blues"
                },
                {
                    "count": 1,
                    "name": "latin"
                },
                {
                    "count": 1,
                    "name": "latin funk"
                }
            ],
            "type": "Group"
        },
        {
            "id": "26069161-b64d-4021-9c7e-7686dae8ffb4",
            "life-span": {
                "ended": null
            },
            "name": "Pork Queen",
            "score": "62",
            "sort-name": "Pork Queen"
        },
        {
            "id": "8eb2fc14-e41d-4c02-b3f2-4a4fa3d88664",
            "life-span": {
                "ended": null
            },
            "name": "Witch Queen",
            "score": "62",
            "sort-name": "Witch Queen"
        },
        {
            "id": "8636f35d-0e6c-447e-a77f-718a85124b80",
            "life-span": {
                "ended": null
            },
            "name": "Stampede Queen",
            "score": "62",
            "sort-name": "Stampede Queen",
            "type": "Group"
        },
        {
            "id": "b46cb0af-039b-4966-9c3e-43a29823778e",
            "life-span": {
                "ended": null
            },
            "name": "Jenny Queen",
            "score": "62",
            "sort-name": "Queen, Jenny",
            "type": "Person"
        },
        {
            "id": "a4bb4530-95a8-4877-b4d7-44ada42846dc",
            "life-span": {
                "ended": null
            },
            "name": "Disco Queen",
            "score": "62",
            "sort-name": "Disco Queen"
        }
    ],
    "count": 254,
    "created": "2016-10-12T11:54:04.361Z",
    "offset": 0
}

ARTIST:
{
    "aliases": [
        {
            "begin-date": null,
            "end-date": null,
            "locale": null,
            "name": "Queen",
            "primary": null,
            "sort-name": "Queen",
            "type": null
        }
    ],
    "area": {
        "id": "2db42837-c832-3c27-b4a3-08198f75693c",
        "name": "Japan",
        "sort-name": "Japan"
    },
    "country": "JP",
    "disambiguation": "character, voiced by \u677f\u91ce\u53cb\u7f8e / Itano Tomomi",
    "gender": "female",
    "id": "420ca290-76c5-41af-999e-564d7c71f1a7",
    "life-span": {
        "ended": null
    },
    "name": "Queen",
    "score": "100",
    "sort-name": "Queen",
    "tags": [
        {
            "count": 1,
            "name": "related-akb48"
        },
        {
            "count": 1,
            "name": "kamen rider w"
        }
    ],
    "type": "Character"
}
requesting http://musicbrainz.org/ws/2/artist/420ca290-76c5-41af-999e-564d7c71f1a7?inc=releases&fmt=json

ONE RELEASE:

IndexError: list index out of range